<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CGComercial.Properties.Settings.CALZADO_GEEK_TIENDAConnectionString"
            connectionString="Data Source=uniutserver.database.windows.net;Initial Catalog=CALZADO_GEEK_TIENDA;Persist Security Info=True;User ID=adminserver;Password=admin2022*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>